# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Type Checkers
# =========================
.mypy_cache/
.pyre/
.ruff_cache/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Docker
# =========================
*.pid

# =========================
# Local database / temp
# =========================
*.sqlite3
*.db

# =========================
# Mac/Linux temp files
# =========================
*.swp
*.swo
*~